* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway"), url(../fonts/Raleway/raleway-v28-latin-regular.eot) format("eot"), url(../fonts/Raleway/raleway-v28-latin-regular.ttf) format("ttf"), url(../fonts/Raleway/raleway-v28-latin-regular.woff) format("woff"), url(../fonts/Raleway/raleway-v28-latin-regular.woff2) format("woff2");
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url(../fonts/Raleway/raleway-v28-latin-regular.eot) format("eot"), url(../fonts/Raleway/raleway-v28-latin-regular.ttf) format("ttf"), url(../fonts/Raleway/raleway-v28-latin-regular.woff) format("woff"), url(../fonts/Raleway/raleway-v28-latin-regular.woff2) format("woff2");
}
.wrapper {
  width: 100%;
  cursor: default;
}
.wrapper .awesome {
  width: 1170px;
  margin: 0 auto;
  padding: 0 0 58px 0;
}
.wrapper .awesome .awesome__title {
  text-align: center;
  margin: 0 auto;
}
.wrapper .awesome .awesome__title .awesome__title-h2 {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  line-height: 42px;
  padding: 55px 0;
}
.wrapper .awesome .awesome__title .awesome__title-hr {
  width: 170px;
  margin: 0 auto;
  height: 2px;
  background: #EC7979;
}
.wrapper .awesome .awesome__title .awesome__subtitle-p {
  margin: 40px 0 110px 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #86878B;
}
.wrapper .awesome .awesome__content .awesome__content__items {
  display: inline-block;
  width: 30%;
  text-align: center;
  margin: 0 30px 0 0;
}
.wrapper .awesome .awesome__content .awesome__content__items .awesome__content__items__circle {
  margin: 0 auto;
  width: 92px;
  height: 92px;
  border: 1px solid #EC7979;
  border-radius: 50%;
}
.wrapper .awesome .awesome__content .awesome__content__items .awesome__content__items__circle #awesome__first-smallimg {
  margin: 13.35px;
  width: 65.29px;
  height: 65.29px;
}
.wrapper .awesome .awesome__content .awesome__content__items .awesome__content__items__circle #awesome__second-smallimg {
  margin: 23px 13px;
}
.wrapper .awesome .awesome__content .awesome__content__items .awesome__content__items__circle #awesome__third-smallimg {
  margin: 13px 22px 13px 26px;
}
.wrapper .awesome .awesome__content .awesome__content__items .awesome__content__items__title-h3 {
  margin: 39px 0 45px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
}
.wrapper .awesome .awesome__content .awesome__content__items .awesome__content__items__text-p {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
}