* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway"), url(../fonts/Raleway/raleway-v28-latin-regular.eot) format("eot"), url(../fonts/Raleway/raleway-v28-latin-regular.ttf) format("ttf"), url(../fonts/Raleway/raleway-v28-latin-regular.woff) format("woff"), url(../fonts/Raleway/raleway-v28-latin-regular.woff2) format("woff2");
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url(../fonts/Raleway/raleway-v28-latin-regular.eot) format("eot"), url(../fonts/Raleway/raleway-v28-latin-regular.ttf) format("ttf"), url(../fonts/Raleway/raleway-v28-latin-regular.woff) format("woff"), url(../fonts/Raleway/raleway-v28-latin-regular.woff2) format("woff2");
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 1170px;
  width: 100%;
  height: 75px;
  background: #000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__top .header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 100%;
}
.header__top .header__content .header__logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__top .header__content .header__logo .logo {
  width: 85px;
  height: 30px;
}
.header__top .header__content .header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 47%;
}
.header__top .header__content .header__navigation .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__top .header__content .header__navigation .navigation .navigation__links {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid transparent;
}
.header__top .header__content .header__navigation .navigation .navigation__links:hover {
  border-bottom: 2px solid #EC7979;
}
.header__top .header__content .header__navigation .navigation .navigation__links .navigation__links-a {
  color: #fff;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
}
.wrapper .main__title {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  line-height: 42px;
  padding: 55px 0;
  text-align: center;
  text-transform: uppercase;
}
.wrapper .main__subtitle {
  margin: 40px 0 110px 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #86878B;
  text-align: center;
}
.wrapper .title-hr {
  width: 170px;
  margin: 0 auto;
  height: 2px;
  background: #EC7979;
}
.wrapper .axit__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../img/sector__img/axitMain.png);
  background-size: 100% 100%;
  min-width: 1170px;
  width: 100%;
}
.wrapper .axit__top .axit__main {
  width: 100%;
  height: 100%;
  padding: 230px 0 185px 0;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrapper .axit__top .axit__main .axit__main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1170px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper .axit__top .axit__main .axit__main__content .axit__main__text {
  width: 57%;
}
.wrapper .axit__top .axit__main .axit__main__content .axit__main__text .axit__main__logo {
  margin: 0 0 50px 0;
}
.wrapper .axit__top .axit__main .axit__main__content .axit__main__text .axit__main__title {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 55px 0;
}
.wrapper .axit__top .axit__main .axit__main__content .axit__main__text .title-hr {
  margin: 0;
  background: #fff;
  height: 1px;
}
.wrapper .axit__top .axit__main .axit__main__content .axit__main__text .axit__main__smallText {
  margin: 40px 0;
  width: 40%;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}
.wrapper .axit__top .axit__main .axit__main__content .axit__main__text .axit__main__btn {
  width: 40%;
  border: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans";
  background: none;
  color: #fff;
  height: 60px;
  font-size: 18px;
}
.wrapper .axit__top .axit__main .axit__main__content .axit__main__text .axit__main__btn:hover {
  background: #fff;
  color: #EC7979;
  font-weight: 700;
}
.wrapper .axit__top .axit__main .axit__main__content .axit__main__form {
  width: 40%;
  background: #fff;
  height: 450px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0 0 0;
}
.wrapper .axit__top .axit__main .axit__main__content .axit__main__form .axit__main__form__title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  color: #333;
  text-transform: uppercase;
  margin: 0 0 75px 0;
}
.wrapper .axit__top .axit__main .axit__main__content .axit__main__form .axit__main__form__title span {
  color: #EC7979;
}
.wrapper .axit__top .axit__main .axit__main__content .axit__main__form .axit__main__form__content {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 75px 0;
}
.wrapper .axit__top .axit__main .axit__main__content .axit__main__form .axit__main__form__content .form__content__items {
  width: 100%;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19px;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #BDBDBD;
  margin: 0 0 30px 0;
}
.wrapper .axit__top .axit__main .axit__main__content .axit__main__form .axit__main__form__content .form__content__items:last-child {
  margin: 0;
}
.wrapper .axit__top .axit__main .axit__main__content .axit__main__form .axit__main__form-btn {
  width: 100%;
  height: 60px;
  border-radius: 0 0 10px 10px;
  background: #EC7979;
  color: #fff;
  font-family: "Open Sans";
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .axit__top .axit__main .axit__main__content .axit__main__form .axit__main__form-btn:hover {
  font-size: 20px;
}
.wrapper .socialMedia {
  width: 100%;
  background: #F8EFEF;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrapper .socialMedia .socialMedia__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1170px;
}
.wrapper .socialMedia .socialMedia__content .socialMedia__text {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper .socialMedia .socialMedia__content .socialMedia__text .socialMedia__title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  margin: 0 0 35px 0;
}
.wrapper .socialMedia .socialMedia__content .socialMedia__text .socialMedia__text-p {
  font-family: "Raleway";
  font-size: 18px;
  color: #86878B;
}
.wrapper .socialMedia .socialMedia__content .socialMedia__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 55%;
}
.wrapper .socialMedia .socialMedia__content .socialMedia__links .socialMedia__links__items {
  font-size: 55px;
  color: #CCCCCC;
}
.wrapper .tabs {
  width: 1170px;
  margin: 100px 0 50px 0;
}
.wrapper .tabs .tabs__main .tabs__main__links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .tabs .tabs__main .tabs__main__links .tabs__main__links-button {
  font-family: "Open Sans Regular", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  padding: 10px 0;
  text-align: center;
  width: 17%;
  background: #FFF;
}
.wrapper .tabs .tabs__main .tabs__main__links .tabs__main__links-button_active {
  border: 1px solid #C6CBCD;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 1px solid transparent;
  margin: 0 0 -1px 0;
}
.wrapper .tabs .tabs__main .tabs__main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #C6CBCD;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper .tabs .tabs__main .tabs__main__content .tabs__main__content__left {
  margin: 47px 0 55px 100px;
  width: 570px;
}
.wrapper .tabs .tabs__main .tabs__main__content .tabs__main__content__left .tabs__main__content__left__title-h2 {
  font-family: "Open Sans Regular";
  font-size: 30px;
  line-height: 41px;
  font-weight: 700;
  margin: 0 0 75px 0;
}
.wrapper .tabs .tabs__main .tabs__main__content .tabs__main__content__left .tabs__main__content__left__text-p {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
}
.wrapper .tabs .tabs__main .tabs__main__content .tabs__main__content__left :nth-child(6) {
  margin: 0 0 27px 0;
}
.wrapper .tabs .tabs__main .tabs__main__content .tabs__main__content__left .tabs__main__content__left-button {
  width: 270px;
  text-align: center;
  padding: 20px 0;
  background: #EC7979;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  font-family: "Open Sans Regular", sans-serif;
}
.wrapper .tabs .tabs__main .tabs__main__content .tabs__main__content__right {
  background: url(../img/sector__img/Rectangle\ 111.png);
  height: 500px;
  width: 470px;
}
.wrapper .awesome {
  width: 1170px;
  padding: 0 0 58px 0;
}
.wrapper .awesome .awesome__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .awesome .awesome__content .awesome__content__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  text-align: center;
  margin: 0 30px 0 0;
}
.wrapper .awesome .awesome__content .awesome__content__items .awesome__content__items__circle {
  width: 92px;
  height: 92px;
  border: 1px solid #EC7979;
  border-radius: 50%;
}
.wrapper .awesome .awesome__content .awesome__content__items .awesome__content__items__circle #awesome__first-smallimg {
  margin: 13.35px;
  width: 65.29px;
  height: 65.29px;
}
.wrapper .awesome .awesome__content .awesome__content__items .awesome__content__items__circle #awesome__second-smallimg {
  margin: 23px 13px;
}
.wrapper .awesome .awesome__content .awesome__content__items .awesome__content__items__circle #awesome__third-smallimg {
  margin: 13px 22px 13px 26px;
}
.wrapper .awesome .awesome__content .awesome__content__items .awesome__content__items__title-h3 {
  margin: 39px 0 45px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
}
.wrapper .awesome .awesome__content .awesome__content__items .awesome__content__items__text-p {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
}
.wrapper .pricing {
  width: 100%;
  min-height: 900px;
  background: #F5F5F5;
  padding: 105px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrapper .pricing .pricing__container {
  width: 77.5%;
  text-align: center;
}
.wrapper .pricing .pricing__container .pricing__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper .pricing .pricing__container .pricing__content .pricing__content__items {
  width: 32%;
  font-family: "Raleway";
  font-size: 18px;
  color: #86878B;
}
.wrapper .pricing .pricing__container .pricing__content .pricing__content__items .pricing__items__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  border: 1px solid #F5F5F5;
  background: #fff;
}
.wrapper .pricing .pricing__container .pricing__content .pricing__content__items #pricing__list_nameRate {
  font-family: "Open Sans";
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  background: #333333;
}
.wrapper .pricing .pricing__container .pricing__content .pricing__content__items #pricing__list__amount {
  height: 100px;
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  background: #333333;
}
.wrapper .pricing .pricing__container .pricing__content .pricing__content__items #pricing__list__nameMainList {
  background: #333333;
}
.wrapper .pricing .pricing__container .pricing__content .pricing__content__items:hover {
  margin: -20px 0 0 0;
  -webkit-filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
          filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}
.wrapper .customers {
  width: 1170px;
  text-align: center;
  padding: 105px 0 65px 0;
  font-family: "Raleway", sans-serif;
}
.wrapper .customers .customers__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper .customers .customers__content .customers__content__items {
  width: 31.6%;
}
.wrapper .customers .customers__content .customers__content__items .customers__items__someText {
  width: 100%;
  border-radius: 10px;
  background: #E2E2E2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 180px;
}
.wrapper .customers .customers__content .customers__content__items .customers__items__someText .customers__items__text {
  width: 75%;
  font-size: 18px;
  line-height: 21px;
  color: #86878B;
}
.wrapper .customers .customers__content .customers__content__items .customers__items__triangle {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #E2E2E2;
  margin: 0 0 0 20%;
}
.wrapper .customers .customers__content .customers__content__items .customers__items__personal {
  margin: 65px 0 0 0;
  text-align: left;
}
.wrapper .customers .customers__content .customers__content__items .customers__items__personal .customers__personal__name {
  font-family: "Open Sans Regular", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .customers .customers__content .customers__content__items .customers__items__personal .customers__name-firstName::before {
  content: "";
  background-image: url(../img/smallIMG/firstFace.png);
  background-repeat: no-repeat;
  background-size: 70px 70px;
  width: 70px;
  height: 70px;
  margin-right: 30px;
}
.wrapper .customers .customers__content .customers__content__items .customers__items__personal .customers__name-secondName::before {
  content: "";
  background-image: url(../img/smallIMG/seconfFace.png);
  background-repeat: no-repeat;
  background-size: 70px 70px;
  width: 70px;
  height: 70px;
  margin-right: 30px;
}
.wrapper .customers .customers__content .customers__content__items .customers__items__personal .customers__name-thirdName::before {
  content: "";
  background-image: url(../img/smallIMG/thirdfFace.png);
  background-repeat: no-repeat;
  background-size: 70px 70px;
  width: 70px;
  height: 70px;
  margin-right: 30px;
}
.wrapper .customers .customers__content .customers__content__items .customers__items__personal .customers__personal__prof {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding-left: 100px;
}
.wrapper .design {
  width: 100%;
  background: url(../img/sector__img/DesignFon.png);
  background-attachment: 100% 100%;
  height: 442px;
}
.wrapper .design .design__container {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrapper .design .design__container .design__content {
  margin: 90px 0 50px 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .design .design__container .design__content .design__title {
  font-family: "Raleway";
  font-size: 36px;
  color: #fff;
  margin: 0 0 55px 0;
  text-transform: uppercase;
}
.wrapper .design .design__container .design__content .title-hr {
  background: #fff;
}
.wrapper .design .design__container .design__content .design__text {
  font-family: "Raleway";
  font-size: 18px;
  color: #fff;
  margin: 40px 0 75px 0;
}
.wrapper .design .design__container .design__content .design__btn {
  display: block;
  font-family: "Raleway";
  width: 25%;
  height: 60px;
  border: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: none;
}
.wrapper .design .design__container .design__content .design__btn:hover {
  background: #fff;
  color: #EC7979;
  font-weight: 700;
}
.wrapper .contactUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.wrapper .contactUs .contactUs__container {
  width: 77.5%;
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .contactUs .contactUs__container .main__subtitle {
  margin-bottom: 90px;
}
.wrapper .contactUs .contactUs__container .contactUs__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 0 50px 0;
}
.wrapper .contactUs .contactUs__container .contactUs__content .contactUs__content__personal {
  width: 49%;
}
.wrapper .contactUs .contactUs__container .contactUs__content .contactUs__content__personal .contactUs__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper .contactUs .contactUs__container .contactUs__content .contactUs__content__personal .contactUs__form .form__content__items {
  width: 100%;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19px;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #BDBDBD;
  margin: 0 0 30px 0;
}
.wrapper .contactUs .contactUs__container .contactUs__content .contactUs__content__personal .contactUs__form .form__content__items:last-child {
  margin: 0;
}
.wrapper .contactUs .contactUs__container .contactUs__content .contactUs__content__message {
  width: 49%;
}
.wrapper .contactUs .contactUs__container .contactUs__content .contactUs__content__message textarea {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  border-bottom: 1px solid #BDBDBD;
  padding: 0 0 3px 0;
}
.wrapper .contactUs .contactUs__container .contactUs__btn {
  display: block;
  font-family: "Open Sans";
  width: 25%;
  height: 60px;
  font-size: 18px;
  background: #EC7979;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
.wrapper .contactUs .contactUs__container .contactUs__btn:hover {
  font-size: 20px;
  font-weight: 700;
}

footer {
  width: 100%;
  background: #000;
  height: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__container {
  width: 35%;
}
footer .footer__container .socialMedia__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 55%;
}
footer .footer__container .socialMedia__links .socialMedia__links__items {
  font-size: 55px;
  color: #CCCCCC;
}
footer .footer__container .socialMedia__links {
  width: 100%;
  margin: 0 0 30px 0;
}
footer .footer__container .footer__container__text {
  font-family: "Raleway";
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}