// обнуляющие стили + flexbox
@import 'normolize.scss';
// Шрифты
@font-face {
  font-family: 'Raleway';
  src: local('Raleway'),
    url(../fonts/Raleway/raleway-v28-latin-regular.eot) format('eot'),
    url(../fonts/Raleway/raleway-v28-latin-regular.ttf) format('ttf'),
    url(../fonts/Raleway/raleway-v28-latin-regular.woff) format('woff'),
    url(../fonts/Raleway/raleway-v28-latin-regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'),
    url(../fonts/Raleway/raleway-v28-latin-regular.eot) format('eot'),
    url(../fonts/Raleway/raleway-v28-latin-regular.ttf) format('ttf'),
    url(../fonts/Raleway/raleway-v28-latin-regular.woff) format('woff'),
    url(../fonts/Raleway/raleway-v28-latin-regular.woff2) format('woff2');
}
@mixin socialMedia {
  .socialMedia__links{
    @include flexbox();
    justify-content: space-between;
    width: 55%;
    .socialMedia__links__items{
      font-size: 55px;
      color:  #CCCCCC;
    }
  }
}
// Header
.header__top{
  @include flexbox();
  min-width: 1170px;
  width: 100%;
  height: 75px;
  background: #000;
  justify-content: center;
  align-items: center;
  .header__content{
    @include flexbox();
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
    .header__logo{
      height: 100%;
      display: flex;
      align-items: center;
      .logo{
        width: 85px;
        height: 30px;
      }
    }
    .header__navigation{
      @include flexbox();
      align-items: center;
      height: 100%;
      width: 47%;
      .navigation{
        @include flexbox();
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        .navigation__links{
          font-family: 'Open Sans';
          font-size: 14px;
          font-weight: 600;
          width: 20%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          border-bottom: 2px solid transparent;
          &:hover{
            border-bottom: 2px solid #EC7979;
          }
          .navigation__links-a{
            color: #fff;
          }
        }
      }
    }
  }
}
// Wrapper
.wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
  .main__title{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    line-height: 42px;
    padding: 55px 0;
    text-align: center;
    text-transform: uppercase;
  }
  .main__subtitle{
    margin: 40px 0 110px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    text-align: center;
  }
  .title-hr{
    width: 170px;
    margin: 0 auto;
    height: 2px;
    background: #EC7979;
  }
  
  // Axit Main
  .axit__top{
    @include flexbox();
    justify-content: center;
    background: url(../img/sector__img/axitMain.png);
    background-size: 100% 100%;
    min-width: 1170px;
    width: 100%;
    .axit__main{
      width: 100%;
      height: 100%;
      padding: 230px 0 185px 0;
      background: rgba(0, 0, 0, 0.5);
      @include flexbox();
      justify-content: center;
      .axit__main__content{
        @include flexbox();
        width: 1170px;
        justify-content: space-between;
        .axit__main__text{
          width: 57%;
          .axit__main__logo{
            margin: 0 0 50px 0;
          }
          .axit__main__title{
            font-family: 'Raleway';
            font-weight: 500;
            font-size: 48px;
            line-height: 56px;
            text-transform: uppercase;
            color: #fff;
            margin: 0 0 55px 0;
          }
          .title-hr{
            margin: 0;
            background: #fff;
            height: 1px;
          }
          .axit__main__smallText{
            margin: 40px 0;
            width: 40%;
            font-family: 'Raleway';
            font-size: 18px;
            line-height: 21px;
            color: #fff;
          }
          .axit__main__btn{
            width: 40%;
            border: 2px solid #fff;
            @include flexbox();
            justify-content: center;
            align-items: center;
            font-family: 'Open Sans';
            background: none;
            color: #fff;
            height: 60px;
            font-size: 18px;
            &:hover{
              background: #fff;
              color: #EC7979;
              font-weight: 700;
            }
          }
        }
        .axit__main__form{
          width: 40%;
          background: #fff;
          height: 450px;
          border-radius: 10px;
          @include flexbox();
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          padding: 30px 0 0 0;
          .axit__main__form__title{
            font-family: 'Open Sans';
            font-weight: 700;
            font-size: 24px;
            color: #333;
            text-transform: uppercase;
            margin: 0 0 75px 0;
            & span{
              color: #EC7979;
            }
          }
          .axit__main__form__content{
            width: 80%;
            @include flexbox();
            flex-direction: column;
            margin: 0 0 75px 0;
            .form__content__items{
              width: 100%;
              font-family: 'Open Sans';
              font-size: 14px;
              line-height: 19px;
              padding: 0 0 15px 0;
              border-bottom: 1px solid #BDBDBD;
              margin: 0 0 30px 0;
              &:last-child{
                margin: 0;
              }
            }
          }
          .axit__main__form-btn{
            width: 100%;
            height: 60px;
            border-radius: 0 0 10px 10px;
            background: #EC7979;
            color: #fff;
            font-family: 'Open Sans';
            font-size: 15px;
            @include flexbox();
            justify-content: center;
            align-items: center;
            &:hover{
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  // Social Media
  .socialMedia{
    width: 100%;
    background: #F8EFEF;
    height: 140px;
    @include flexbox();
    justify-content: center;

    .socialMedia__content{
      @include flexbox();
      justify-content: space-between;
      align-items: center;
      width: 1170px;

      .socialMedia__text{
        width: 40%;
        @include flexbox();
        flex-direction: column;
        .socialMedia__title{
          font-family: 'Open Sans';
          font-weight: 700;
          font-size: 24px;
          margin: 0 0 35px 0;
        }
        .socialMedia__text-p{
          font-family: 'Raleway';
          font-size: 18px;
          color: #86878B;
        }
      }
      @include socialMedia();
    }

  }
  // Tabs
  .tabs{
    width: 1170px;
    margin: 100px 0 50px 0;
    .tabs__main{
      .tabs__main__links{
        width: 100%;
        @include flexbox();
        .tabs__main__links-button{
          font-family: 'Open Sans Regular', sans-serif;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 19px;
          font-weight: 400;
          padding: 10px 0;
          text-align: center;
          width: 17%;
          background: #FFF;
        }
        .tabs__main__links-button_active{
          border: 1px solid #C6CBCD;
          border-top-left-radius: 7px;
          border-top-right-radius: 7px;
          border-bottom: 1px solid transparent;
          margin: 0 0 -1px 0;
        }
      }
      .tabs__main__content{
        @include flexbox();
        border: 1px solid #C6CBCD;
        justify-content: space-between;
        .tabs__main__content__left{
          margin: 47px 0 55px 100px;
          width: 570px;
          .tabs__main__content__left__title-h2{
            font-family: 'Open Sans Regular';
            font-size: 30px;
            line-height: 41px;
            font-weight: 700;
            margin: 0 0 75px 0;
          }
          .tabs__main__content__left__text-p{
            font-family: 'Raleway';
            font-size: 18px;
            line-height: 21px;
          }
          & :nth-child(6){
            margin: 0 0 27px 0;
          }
          .tabs__main__content__left-button{
            width: 270px;
            text-align: center;
            padding: 20px 0;
            background: #EC7979;
            color: #fff;
            font-size: 18px;
            line-height: 25px;
            font-family:'Open Sans Regular', sans-serif;
          }
        }
        .tabs__main__content__right{
          background: url(../img/sector__img/Rectangle\ 111.png);
          height: 500px;
          width: 470px;
        }
      }
    }
  }
  // Awesome
  .awesome{
    width: 1170px;
    padding: 0 0 58px 0;
    .awesome__content{
      @include flexbox();
      align-items: center;
        .awesome__content__items{
          @include flexbox();
          flex-direction: column;
          align-items: center;
          width: 30%;
          text-align: center;
          margin: 0 30px 0 0;
          .awesome__content__items__circle{
            
            width: 92px;
            height: 92px;
            border: 1px solid #EC7979;
            border-radius: 50%;
            #awesome__first-smallimg{
              margin: 13.35px;
              width: 65.29px;
              height: 65.29px;
            }
            #awesome__second-smallimg{
              margin: 23px 13px;
            }
            #awesome__third-smallimg{
              margin: 13px 22px 13px 26px;
            }
          }
          .awesome__content__items__title-h3{
            margin: 39px 0 45px 0;
            font-family: 'Open Sans', sans-serif ;
            font-size: 24px;
            line-height: 33px;
            font-weight: 700;
          }
          .awesome__content__items__text-p{
            font-family: 'Raleway', sans-serif;
            font-size: 18px;
            line-height: 21px;
          }
        }
      }
  }
  // PRICING
  .pricing{
    width: 100%;
    min-height: 900px;
    background: #F5F5F5;
    padding: 105px 0 50px 0;
    @include flexbox();
    justify-content: center;
    .pricing__container{
      width: 77.5%;
      text-align: center;
      .pricing__content{
        @include flexbox();
        justify-content: space-between;
        .pricing__content__items{
          width: 32%;
          font-family: 'Raleway';
          font-size: 18px;
          color: #86878B;
          .pricing__items__lists{
            @include flexbox();
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50px;
            border: 1px solid #F5F5F5;
            background: #fff;
          }
          #pricing__list_nameRate{
            font-family: 'Open Sans';
            font-size: 24px;
            color: #fff;
            font-weight: 700;
            background: #333333;
          }
          #pricing__list__amount{
            height: 100px;
            font-weight: 700;
            font-size: 36px;
            color: #fff;
            background: #333333;
          }
          #pricing__list__nameMainList{
            background: #333333;
          }
          &:hover{
            margin: -20px 0 0 0;
           filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
          }
        }
      }
    }
  }
  // Customers
  .customers{
    width: 1170px;
    text-align: center;
    padding: 105px 0 65px 0;
    font-family: 'Raleway', sans-serif;
    .customers__content{
      @include flexbox();
      justify-content: space-between;
      .customers__content__items{
        width: 31.6%;
        .customers__items__someText{
          width: 100%;
          border-radius: 10px;
          background: #E2E2E2;
          @include flexbox();
          justify-content: center;
          align-items: center;
          height: 180px;
          .customers__items__text{
            width: 75%;
            font-size: 18px;
            line-height: 21px;
            color: #86878B;
          }
        }
        .customers__items__triangle{
          width: 0;
	        height: 0;
	        border-left: 15px solid transparent;
	        border-right: 15px solid transparent;
	        border-top: 20px solid #E2E2E2;
          margin: 0 0 0 20%;
        }
        .customers__items__personal{
          margin: 65px 0 0 0;
          text-align: left;
          .customers__personal__name{
            font-family:'Open Sans Regular', sans-serif;
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
          }
          .customers__name-firstName::before{
            content: "";
            background-image: url(../img/smallIMG/firstFace.png);
            background-repeat: no-repeat;
            background-size: 70px 70px;
            width: 70px;
            height: 70px;
            margin-right: 30px;
          }
          .customers__name-secondName::before{
            content: "";
            background-image: url(../img/smallIMG/seconfFace.png);
            background-repeat: no-repeat;
            background-size: 70px 70px;
            width: 70px;
            height: 70px;
            margin-right: 30px;
          }
          .customers__name-thirdName::before{
            content: "";
            background-image: url(../img/smallIMG/thirdfFace.png);
            background-repeat: no-repeat;
            background-size: 70px 70px;
            width: 70px;
            height: 70px;
            margin-right: 30px;
          }

          .customers__personal__prof{
            font-family: 'Raleway', sans-serif;
            font-size: 18px;
            line-height: 24px;
            padding-left: 100px;
          }
        }
      }
    }
  }
  // Design
  .design{
    width: 100%;
    background: url(../img/sector__img/DesignFon.png);
    background-attachment: 100% 100%;
    height: 442px;
    .design__container{
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      @include flexbox();
      justify-content: center;
      .design__content{
        margin: 90px 0 50px 0;
        text-align: center;
        @include flexbox();
        flex-direction: column;
        align-items: center;
        .design__title{
          font-family: 'Raleway';
          font-size: 36px;
          color: #fff;
          margin: 0 0 55px 0;
          text-transform: uppercase;
        }
        .title-hr{
          background: #fff;
        }
        .design__text{
          font-family: 'Raleway';
          font-size: 18px;
          color: #fff;
          margin: 40px 0 75px 0;
        }
        .design__btn{
          display: block;
          font-family: 'Raleway';
          width: 25%;
          height: 60px;
          border: 2px solid #fff;
          @include flexbox();
          justify-content: center;
          align-items: center;
          color: #fff;
          background: none;
          &:hover{
            background: #fff;
            color: #EC7979;
            font-weight: 700;
          }
        }
      }
    }
  }
  // Contuct Us
  .contactUs{
    @include flexbox();
    justify-content: center;
    width: 100%;
    .contactUs__container{
      width: 77.5%;
      margin: 50px 0;
      @include flexbox();
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .main__subtitle{
        margin-bottom: 90px;
      }
      .contactUs__content{
        @include flexbox();
        justify-content: space-between;
        width: 100%;
        margin: 0 0 50px 0;
        .contactUs__content__personal{
          width: 49%;
          .contactUs__form{
            @include flexbox();
            flex-direction: column;
            .form__content__items{
              width: 100%;
              font-family: 'Open Sans';
              font-size: 14px;
              line-height: 19px;
              padding: 0 0 15px 0;
              border-bottom: 1px solid #BDBDBD;
              margin: 0 0 30px 0;
              &:last-child{
                margin: 0;
              }
            }
          }
        }
        .contactUs__content__message{
          width: 49%;
          & textarea{
            font-family: 'Open Sans';
            font-size: 14px;
            line-height: 16px;
            width: 100%;
            border-bottom: 1px solid #BDBDBD;
            padding: 0 0 3px 0;
          }
        }
      }
      .contactUs__btn{
          display: block;
          font-family: 'Open Sans';
          width: 25%;
          height: 60px;
          font-size: 18px;
          background: #EC7979;
          @include flexbox();
          justify-content: center;
          align-items: center;
          color: #fff;
          &:hover{
            font-size: 20px;
            font-weight: 700;
          }
        }

    }
  }
  
}
// Footer
footer{
  width: 100%;
  background: #000;
  height: 165px;
  @include flexbox();
  justify-content: center;
  align-items: center;
  .footer__container{
    width: 35%;
    @include socialMedia();
    .socialMedia__links{
      width: 100%;
      margin: 0 0 30px 0;
    }
    .footer__container__text{
      font-family: 'Raleway';
      font-size: 18px;
      color: rgba(255, 255, 255, 0.5);
      text-align: center;
    }
  }

}