// Обнуление + flexbox
@import 'normolize.scss';
// Шрифты
@font-face {
  font-family: 'Raleway';
  src: local('Raleway'),
    url(../fonts/Raleway/raleway-v28-latin-regular.eot) format('eot'),
    url(../fonts/Raleway/raleway-v28-latin-regular.ttf) format('ttf'),
    url(../fonts/Raleway/raleway-v28-latin-regular.woff) format('woff'),
    url(../fonts/Raleway/raleway-v28-latin-regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'),
    url(../fonts/Raleway/raleway-v28-latin-regular.eot) format('eot'),
    url(../fonts/Raleway/raleway-v28-latin-regular.ttf) format('ttf'),
    url(../fonts/Raleway/raleway-v28-latin-regular.woff) format('woff'),
    url(../fonts/Raleway/raleway-v28-latin-regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans Regular';
  src: local('Open Sans Regular'),
    url(../fonts/Raleway/raleway-v28-latin-regular.ttf) format('ttf');
}



.tabs{
  width: 1170px;
  margin: 100px auto 50px;
  .tabs__main{
    .tabs__main__links{
      width: 100%;
      @include flexbox();
      .tabs__main__links-button{
        font-family: 'Open Sans Regular', sans-serif;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 19px;
        font-weight: 400;
        padding: 10px 0;
        text-align: center;
        width: 17%;
        background: #FFF;
        border-bottom: 1px solid #C6CBCD;
      }
      .tabs__main__links-button_active{
        border: 1px solid #C6CBCD;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        border-bottom: none;
      }
      & :last-child{
        width: 49%;
        border-bottom: 1px solid #C6CBCD;
      }
    }
    .tabs__main__content{
      @include flexbox();
      border: 1px solid #C6CBCD;
      border-top: 0;
      justify-content: space-between;
      .tabs__main__content__left{
        margin: 47px 0 55px 100px;
        width: 570px;
        .tabs__main__content__left__title-h2{
          font-family: 'Open Sans Regular';
          font-size: 30px;
          line-height: 41px;
          font-weight: 700;
          margin: 0 0 75px 0;
        }
        .tabs__main__content__left__text-p{
          font-family: 'Raleway';
          font-size: 18px;
          line-height: 21px;
        }
        & :nth-child(6){
          margin: 0 0 27px 0;
        }
        .tabs__main__content__left-button{
          width: 270px;
          text-align: center;
          padding: 20px 0;
          background: #EC7979;
          color: #fff;
          font-size: 18px;
          line-height: 25px;
          font-family:'Open Sans Regular', sans-serif;
        }
      }
      .tabs__main__content__right{
        background: url(../img/sector__img/Rectangle\ 111.png);
        height: 500px;
        width: 470px;
      }
    }
  }
}
